[Desktop Entry]
Type=Application
Name=APEX32 Community Installer
Comment=Discover operating systems and install APEX32 Secure Gateway
Exec=apex32-installer
TryExec=apex32-installer
Icon=apex32-installer
Categories=System;
Keywords=UEFI;EFI;Boot;Boot Manager;Recovery;
Terminal=false
StartupNotify=true
